*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    -webkit-font-smoothing:antialiased;
    font-family: Arial, Helvetica, sans-serif;
}

// variables
$main-font:arial;
$smooth:all 0.3s ease-in-out;
$yellow:#FFE375;
$purple:#62497B;
$dark-gray-icn:#CBCBCB;
$light-gray-font:#ABABAB;
$bg-light-gray:#EFEFEF;
$bg-dark-gray:#E4E4E4;
$pure-white:#fff;

// navigation Bar

nav{
    position: absolute;
    width: 100%;
    & .nav-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 2rem 4rem;
        & ul{
            display: flex;
            align-items: center;
            list-style-type: none;
            & li{
                padding-left: 2rem;
                & a{
                    color: $pure-white;
                    font-family: $main-font;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 12px;
                    transition: $smooth;
                    &:hover{
                        color: $yellow;
                    }
                }
                & .active{
                    color: $yellow;
                }
            }
        }
        & > div h1{
            color: $pure-white;
            font-family: $main-font;
            text-transform: uppercase;
            font-size: calc(10rem+100vw);
        }
        & a{
            text-decoration: none;
        }
    }
    & .header-container{
        text-align: left;
        margin: 6rem 25vw;
        & h1{
            font-size: 3.7rem;
            font-family: $main-font;
            color: $pure-white;
        }
        & p{
            color: $pure-white;
            margin: 1.5rem 0;
            font-size: 2rem;
            font-family: sans-serif;
        }
    }
}

.btn{
    padding: 0.8rem 1.2rem;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    transition: $smooth;
    &:hover{
        background-color: $purple;
        color: $pure-white;
    }
}
.btn-yellow{
    background: $yellow;
}
.btn-purple{
    background-color: $purple;
    color: $pure-white;
}

// slider section
header .slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $purple;
    & .slider{
        width: 100%;
        height: 740px;
        // border-radius: 10px;
        overflow: hidden;
        & .slides{
            width: 500%;
            height: 740px;
            display: flex;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            & input{
                display: none;
            }
            & .slide{
                width:20%;
                transition: 2s;
            }
        }
        // manual slide navigation
        & .navigation-manual{
            position: absolute;
            width: 800px;
            margin-top: -40px;
            display: flex;
            justify-content: center;
            & .manual-btn{
                border: 2px solid $bg-light-gray;
                padding: 5px;
                border-radius: 10px;
                cursor: pointer;
                transition: 1s;
                &:not(:last-child){
                    margin-right: 40px;
                }
                &:hover{
                    background-color: $yellow;
                }
            }
        }
    }
}
header .slider-container .slider .slides #radio1:checked ~ .first {
    margin-left: 0px;
}
header .slider-container .slider .slides #radio2:checked ~ .first {
    margin-left: -20%;
}
header .slider-container .slider .slides #radio3:checked ~ .first {
    margin-left: -40%;
}
header .slider-container .slider .slides #radio4:checked ~ .first {
    margin-left: -60%;
}

//autometic navigation

header .slider-container .slider .slides .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 700px;

    & > div{
        border: 2px solid $bg-light-gray;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    }
    & > div:not(:last-child){
        margin-right: 40px;
    }
}

header .slider-container .slider .slides #radio1:checked ~ .navigation-auto .auto-btn1{
    background: $bg-dark-gray;
}
header .slider-container .slider .slides #radio2:checked ~ .navigation-auto .auto-btn2{
    background: $bg-dark-gray;
}
header .slider-container .slider .slides #radio3:checked ~ .navigation-auto .auto-btn3{
    background: $bg-dark-gray;
}
header .slider-container .slider .slides #radio4:checked ~ .navigation-auto .auto-btn4{
    background: $bg-dark-gray;
}
//sroller end


// info section

section.info{
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 6rem;
    & .info-container{
        margin: 2rem 15rem;
        & .heading{
            text-align: center;
            font-family: $main-font;
            font-size: 2.5rem;
        }
        & .info-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 2rem 0;
            & > p{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.8rem;
                padding: 0 5rem;
            }
            & > div{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                & h1{
                    font-family: $main-font;
                    margin: 1rem 0;
                }
                & p{
                    font-family: Arial, Helvetica, sans-serif;
                    text-align: center;
                    line-height: 1.5rem;
                    padding: 0 1.5rem;
                    margin-bottom: 1rem;
                }
            }
        }
        & .info-wrapper:last-child{
            & .img{
                background-color: $purple;
                display: inline-block;
                border-radius: 50%;
                width: 60px;
                height: 60px;
            }
            & img{
                padding: 10px;
                width: 45px;
                height: 49px;
                margin-left: 8px;
                margin-top: 4px;
            }
        }
    }
}

// project section

section.project{
    // max-width: 1440px;
    margin: 0 auto;
    font-family: $main-font;
    margin: 2rem 0;
    & > h1{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    & .project-container{
        display: flex;
        transition: $smooth;
        & img{
            width:100%;
            height:70%;
        }
        & > div .text{
            padding: 1.5rem;
            & p{
                padding: 0.5rem 0;
            }
            & button{
                // margin-bottom: 4rem;
            }
        }
        & > div:nth-child(odd){
            background-color: $bg-light-gray;
        }
        & > div:nth-child(even){
            background-color: $bg-dark-gray;
        }
        & > div:hover{
            background-color: $yellow;
        }
    }
}

// pricing section

section.pricing{
    max-width: 1440px;
    margin: 0 auto;
    margin: 2rem 15rem;
    & > h1{
        text-align: center;
        font-family: $main-font;
        font-size: 2rem;
    }
    & .pricing-container{
        text-align: center;
        margin: 2rem 0;
        display: flex;
        justify-content: space-between;
        & h2{
            text-transform: uppercase;
            font-family: sans-serif;
            padding-bottom: 0.5rem;
        }
        & h4{
            color: $light-gray-font;
        }
        & p{
            padding: 0.5rem 0;
        }
        & hr{
            border: 0.2px solid $dark-gray-icn;
        }
    }
}