* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  position: absolute;
  width: 100%;
}

nav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem 4rem;
}

nav .nav-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

nav .nav-container ul li {
  padding-left: 2rem;
}

nav .nav-container ul li a {
  color: #fff;
  font-family: arial;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav .nav-container ul li a:hover {
  color: #FFE375;
}

nav .nav-container ul li .active {
  color: #FFE375;
}

nav .nav-container > div h1 {
  color: #fff;
  font-family: arial;
  text-transform: uppercase;
  font-size: calc(10rem+100vw);
}

nav .nav-container a {
  text-decoration: none;
}

nav .header-container {
  text-align: left;
  margin: 6rem 25vw;
}

nav .header-container h1 {
  font-size: 3.7rem;
  font-family: arial;
  color: #fff;
}

nav .header-container p {
  color: #fff;
  margin: 1.5rem 0;
  font-size: 2rem;
  font-family: sans-serif;
}

.btn {
  padding: 0.8rem 1.2rem;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #62497B;
  color: #fff;
}

.btn-yellow {
  background: #FFE375;
}

.btn-purple {
  background-color: #62497B;
  color: #fff;
}

header .slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #62497B;
}

header .slider-container .slider {
  width: 100%;
  height: 740px;
  overflow: hidden;
}

header .slider-container .slider .slides {
  width: 500%;
  height: 740px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .slider-container .slider .slides img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .slider-container .slider .slides input {
  display: none;
}

header .slider-container .slider .slides .slide {
  width: 20%;
  -webkit-transition: 2s;
  transition: 2s;
}

header .slider-container .slider .navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .slider-container .slider .navigation-manual .manual-btn {
  border: 2px solid #EFEFEF;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

header .slider-container .slider .navigation-manual .manual-btn:not(:last-child) {
  margin-right: 40px;
}

header .slider-container .slider .navigation-manual .manual-btn:hover {
  background-color: #FFE375;
}

header .slider-container .slider .slides #radio1:checked ~ .first {
  margin-left: 0px;
}

header .slider-container .slider .slides #radio2:checked ~ .first {
  margin-left: -20%;
}

header .slider-container .slider .slides #radio3:checked ~ .first {
  margin-left: -40%;
}

header .slider-container .slider .slides #radio4:checked ~ .first {
  margin-left: -60%;
}

header .slider-container .slider .slides .navigation-auto {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 700px;
}

header .slider-container .slider .slides .navigation-auto > div {
  border: 2px solid #EFEFEF;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

header .slider-container .slider .slides .navigation-auto > div:not(:last-child) {
  margin-right: 40px;
}

header .slider-container .slider .slides #radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #E4E4E4;
}

header .slider-container .slider .slides #radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #E4E4E4;
}

header .slider-container .slider .slides #radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #E4E4E4;
}

header .slider-container .slider .slides #radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #E4E4E4;
}

section.info {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

section.info .info-container {
  margin: 2rem 15rem;
}

section.info .info-container .heading {
  text-align: center;
  font-family: arial;
  font-size: 2.5rem;
}

section.info .info-container .info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0;
}

section.info .info-container .info-wrapper > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  padding: 0 5rem;
}

section.info .info-container .info-wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.info .info-container .info-wrapper > div h1 {
  font-family: arial;
  margin: 1rem 0;
}

section.info .info-container .info-wrapper > div p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 1.5rem;
  padding: 0 1.5rem;
  margin-bottom: 1rem;
}

section.info .info-container .info-wrapper:last-child .img {
  background-color: #62497B;
  display: inline-block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

section.info .info-container .info-wrapper:last-child img {
  padding: 10px;
  width: 45px;
  height: 49px;
  margin-left: 8px;
  margin-top: 4px;
}

section.project {
  margin: 0 auto;
  font-family: arial;
  margin: 2rem 0;
}

section.project > h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

section.project .project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section.project .project-container img {
  width: 100%;
  height: 70%;
}

section.project .project-container > div .text {
  padding: 1.5rem;
}

section.project .project-container > div .text p {
  padding: 0.5rem 0;
}

section.project .project-container > div:nth-child(odd) {
  background-color: #EFEFEF;
}

section.project .project-container > div:nth-child(even) {
  background-color: #E4E4E4;
}

section.project .project-container > div:hover {
  background-color: #FFE375;
}

section.pricing {
  max-width: 1440px;
  margin: 0 auto;
  margin: 2rem 15rem;
}

section.pricing > h1 {
  text-align: center;
  font-family: arial;
  font-size: 2rem;
}

section.pricing .pricing-container {
  text-align: center;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.pricing .pricing-container h2 {
  text-transform: uppercase;
  font-family: sans-serif;
  padding-bottom: 0.5rem;
}

section.pricing .pricing-container h4 {
  color: #ABABAB;
}

section.pricing .pricing-container p {
  padding: 0.5rem 0;
}

section.pricing .pricing-container hr {
  border: 0.2px solid #CBCBCB;
}
/*# sourceMappingURL=style.css.map */