*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    -webkit-font-smoothing:antialiased;
    font-family: Arial, Helvetica, sans-serif;
}

// variables
$main-font:arial;
$secondary-fonts:'Noto Sans';
$smooth:all 0.3s ease-in-out;
$yellow:#FFE375;
$purple:#62497B;
$dark-gray-icn:#CBCBCB;
$light-gray-font:#ABABAB;
$bg-light-gray:#EFEFEF;
$bg-dark-gray:#E4E4E4;
$pure-white:#fff;

img{
    max-width: 100%;
}

// navigation Bar

nav{
    z-index: 20;
    position: absolute;
    width: 100%;
    & .nav-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 2rem 4rem;
        & ul{
            display: flex;
            align-items: center;
            list-style-type: none;
            & li{
                padding-left: 2rem;
                & a{
                    color: $pure-white;
                    font-family: $main-font;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 12px;
                    transition: $smooth;
                    &:hover{
                        color: $yellow;
                    }
                }
                & .active{
                    color: $yellow;
                }
            }
        }
        & > div h1{
            color: $pure-white;
            font-family: $main-font;
            text-transform: uppercase;
        }
        & a{
            text-decoration: none;
        }
    }
    & .header-container{
        text-align: left;
        margin: 6rem 25vw;
        & h1{
            font-size: 3.7rem;
            font-family: $main-font;
            color: $pure-white;
        }
        & p{
            color: $bg-light-gray;
            margin: 1.5rem 0;
            font-size: 1.5rem;
            font-family: $secondary-fonts;
        }
    }
}

@media(max-width:965px){
    nav .header-container h1 {
        font-size: 2.5rem;
    }
    nav .header-container p {
        font-size: 1.2rem;
    }
    nav .nav-container ul{
        display: none;
    }

}

// button utility
.btn{
    padding: 0.8rem 1.2rem;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    transition: $smooth;
    &:hover{
        background-color: $purple;
        color: $pure-white;
    }
}
.btn-yellow{
    background: $yellow;
}
.btn-purple{
    background-color: $purple;
    color: $pure-white;
}

// slider section
header .slider-container{
    width: 100%;
    & .slider{
        overflow: hidden;
    }
    & .slider img{
        height: 700px;
        object-fit: cover;
    }
}

// info section
section.info{
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 6rem;
    & .info-container{
        margin: 2rem 15rem;
        & .heading{
            text-align: center;
            font-family: $main-font;
            font-size: 2.5rem;
        }
        & .info-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 2rem 0;
            & > p{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.8rem;
                padding: 0 5rem;
            }
            & > div{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                & h1{
                    font-family: $main-font;
                    margin: 1rem 0;
                }
                & p{
                    font-family: Arial, Helvetica, sans-serif;
                    text-align: center;
                    line-height: 1.5rem;
                    padding: 0 1.5rem;
                    margin-bottom: 1rem;
                }
            }
        }
        & .info-wrapper:last-child{
            & .img{
                background-color: $purple;
                display: inline-block;
                border-radius: 50%;
                width: 60px;
                height: 60px;
            }
            & img{
                padding: 10px;
                width: 45px;
                height: 49px;
                margin-left: 8px;
                margin-top: 4px;
            }
        }
    }
}
@media(max-width:965px){
    section.info .info-container .info-wrapper {
        flex-direction: column-reverse;
    }
    section.info .info-container {
        margin: 2rem 4rem;
    }
}

// project section
section.project{
    // max-width: 1440px;
    margin: 0 auto;
    font-family: $main-font;
    
    & > h1{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    & .project-container{
        margin: 2rem 0;
        display: flex;
        transition: $smooth;
        & img{
            width:100%;
            height:70%;
        }
        & > div .text{
            padding: 1.5rem;
            & p{
                padding: 0.5rem 0;
            }
            & button{
                // margin-bottom: 4rem;
            }
        }
        & > div:nth-child(odd){
            background-color: $bg-light-gray;
        }
        & > div:nth-child(even){
            background-color: $bg-dark-gray;
        }
        & > div:hover{
            background-color: $yellow;
        }
    }
}

// pricing section

section.pricing{
    max-width: 1440px;
    margin: 4rem auto;
    & > h1{
        text-align: center;
        font-family: $main-font;
        font-size: 2rem;
    }
    & .pricing-container{
        text-align: center;
        margin: 4rem 10rem;
        display: flex;
        justify-content: space-between;
        & h2{
            text-transform: uppercase;
            font-family: sans-serif;
            padding-bottom: 0.5rem;
        }
        & h4{
            color: $light-gray-font;
        }
        & p{
            padding: 0.5rem 0;
        }
        & hr{
            border: 0.2px solid $dark-gray-icn;
        }
    }
}

section.video_projects{
    background-color: $purple;
    padding: 2rem 0 5rem ;
    & h1{
        text-align: center;
        color: $pure-white;
        font-size: 2rem;
        padding-bottom: 3rem;
    }
    & .items > div{
        display: flex;
        justify-content: space-between;
        color: $dark-gray-icn;
        text-transform: uppercase;
        font-size: 10px;
        padding-top: 0.5rem;
    }
    // slick slider
    .slick-slide{
        margin: 0 50px;
    }
    .slick-slide img{
        width: 100%;
    }
}



// Team Creadit section

section.team{
    max-width: 1440px;
    margin: 4rem auto;
    & h1{
        text-align: center;
        font-size: 2rem;
    }
    & .team-container{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        & > div{
            margin: 2rem 3rem;
        }
    }
}

// life section

section.life{
    padding: 5rem 10rem;
    background-color: $dark-gray-icn;
    & h1{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    & .life-container{
        & .sliderfor{
            margin: 0 0.5rem;
        }
        & .nav-slider-main{
            // border: 1px solid red;
            position: relative;
            & .slidernav{
                display: flex;
                padding: 0 4rem;
            }
            & .arrow{
                background-color: $purple;
                padding: 2.7rem 1rem;
                display: inline;
                position: absolute;
                z-index: 20;
                color: $pure-white;
            }
            & .leftArrow{
                top: 50%;
                left: 0%;
                transform: translate(50%, -50%);
            }
            & .rightArrow {
                top: 50%;
                right: 0;
                transform: translate(-50%, -50%);   
            }
        }

        .slick-slide{
            margin: 0 10px;
        }
        .slick-slide img{
            width: 100%;
        }
    }
}

// news-letter grou

section.news{
    background-image: url('../assects/logo/bg-img.png');
    background-position: center;
    background-size: cover;
    padding: 4rem 0;
    
    & h1{
        text-align: center;
        font-size: 3rem;
        margin-bottom: 2rem;
        color: $pure-white;
    }
    & .news-container{
        padding: 2rem 0;
        text-align: center;
        & span{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & input{
            font-size: 1rem;
            padding: 0.7rem 0;
            padding-left: 1rem;
            padding-right: 5rem;
            border: none;
            font-family: $main-font;
            &:hover{
                border: none;
            }
        }
    }
}

// blog section

section.blog{
    margin: 4rem auto;
    & .blog-container{
        display: flex;
        & button{
            background-color: $dark-gray-icn;
            &:hover{
                background-color: $yellow;
                color: #000;
            }
        }
    }
}

// contact section

section.contact{
    // display: flex;
    & .contact-col{
        flex: 1 0 50%;
        background-color: $yellow;
        & .form{
            display: flex;
            flex-direction: column;
            
        }
    }
}

// footer section
footer{
    margin: 4rem auto;
    & .footer-container{
        display: flex;
        justify-content: space-between;
    }
}
