* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

nav {
  position: absolute;
  width: 100%;
}

nav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem 4rem;
}

nav .nav-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

nav .nav-container ul li {
  padding-left: 2rem;
}

nav .nav-container ul li a {
  color: #fff;
  font-family: arial;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav .nav-container ul li a:hover {
  color: #FFE375;
}

nav .nav-container ul li .active {
  color: #FFE375;
}

nav .nav-container > div h1 {
  color: #fff;
  font-family: arial;
  text-transform: uppercase;
  font-size: calc(10rem+100vw);
}

nav .nav-container a {
  text-decoration: none;
}

.btn {
  padding: 0.6rem 1.5rem;
  border: none;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

header .slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #62497B;
}

header .slider-container .slider {
  width: 100%;
  height: 670px;
  overflow: hidden;
}

header .slider-container .slider .slides {
  width: 500%;
  height: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .slider-container .slider .slides img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .slider-container .slider .slides input {
  display: none;
}

header .slider-container .slider .slides .slide {
  width: 20%;
  -webkit-transition: 2s;
  transition: 2s;
}

header .slider-container .slider .navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .slider-container .slider .navigation-manual .manual-btn {
  border: 2px solid #EFEFEF;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

header .slider-container .slider .navigation-manual .manual-btn:not(:last-child) {
  margin-right: 40px;
}

header .slider-container .slider .navigation-manual .manual-btn:hover {
  background-color: #FFE375;
}

header .slider-container .slider .slides #radio1:checked ~ .first {
  margin-left: 0px;
}

header .slider-container .slider .slides #radio2:checked ~ .first {
  margin-left: -20%;
}

header .slider-container .slider .slides #radio3:checked ~ .first {
  margin-left: -40%;
}

header .slider-container .slider .slides #radio4:checked ~ .first {
  margin-left: -60%;
}

header .slider-container .slider .slides .navigation-auto {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 630px;
}

header .slider-container .slider .slides .navigation-auto > div {
  border: 2px solid #EFEFEF;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

header .slider-container .slider .slides .navigation-auto > div:not(:last-child) {
  margin-right: 40px;
}

header .slider-container .slider .slides #radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #E4E4E4;
}

header .slider-container .slider .slides #radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #E4E4E4;
}

header .slider-container .slider .slides #radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #E4E4E4;
}

header .slider-container .slider .slides #radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #E4E4E4;
}
/*# sourceMappingURL=style.css.map */