*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    -webkit-font-smoothing:antialiased;
}

// variables
$main-font:arial;
$smooth:all 0.3s ease-in-out;
$yellow:#FFE375;
$purple:#62497B;
$dark-gray-icn:#CBCBCB;
$light-gray-font:#ABABAB;
$bg-light-gray:#EFEFEF;
$bg-dark-gray:#E4E4E4;
$pure-white:#fff;

// navigation Bar

nav{
    position: absolute;
    width: 100%;
    & .nav-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 2rem 4rem;
        & ul{
            display: flex;
            align-items: center;
            list-style-type: none;
            & li{
                padding-left: 2rem;
                & a{
                    color: $pure-white;
                    font-family: $main-font;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 12px;
                    transition: $smooth;
                    &:hover{
                        color: $yellow;
                    }
                }
                & .active{
                    color: $yellow;
                }
            }
        }
        & > div h1{
            color: $pure-white;
            font-family: $main-font;
            text-transform: uppercase;
            font-size: calc(10rem+100vw);
        }
        & a{
            text-decoration: none;
        }
    }
}

.btn{
    padding: 0.6rem 1.5rem;
    border: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}


// slider section
header .slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $purple;
    & .slider{
        width: 100%;
        height: 670px;
        // border-radius: 10px;
        overflow: hidden;
        & .slides{
            width: 500%;
            height: 670px;
            display: flex;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            & input{
                display: none;
            }
            & .slide{
                width:20%;
                transition: 2s;
            }
        }
        // manual slide navigation
        & .navigation-manual{
            position: absolute;
            width: 800px;
            margin-top: -40px;
            display: flex;
            justify-content: center;
            & .manual-btn{
                border: 2px solid $bg-light-gray;
                padding: 5px;
                border-radius: 10px;
                cursor: pointer;
                transition: 1s;
                &:not(:last-child){
                    margin-right: 40px;
                }
                &:hover{
                    background-color: $yellow;
                }
            }
        }
    }
}
header .slider-container .slider .slides #radio1:checked ~ .first {
    margin-left: 0px;
}
header .slider-container .slider .slides #radio2:checked ~ .first {
    margin-left: -20%;
}
header .slider-container .slider .slides #radio3:checked ~ .first {
    margin-left: -40%;
}
header .slider-container .slider .slides #radio4:checked ~ .first {
    margin-left: -60%;
}

//autometic navigation

header .slider-container .slider .slides .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 630px;

    & > div{
        border: 2px solid $bg-light-gray;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    }
    & > div:not(:last-child){
        margin-right: 40px;
    }
}

header .slider-container .slider .slides #radio1:checked ~ .navigation-auto .auto-btn1{
    background: $bg-dark-gray;
}
header .slider-container .slider .slides #radio2:checked ~ .navigation-auto .auto-btn2{
    background: $bg-dark-gray;
}
header .slider-container .slider .slides #radio3:checked ~ .navigation-auto .auto-btn3{
    background: $bg-dark-gray;
}
header .slider-container .slider .slides #radio4:checked ~ .navigation-auto .auto-btn4{
    background: $bg-dark-gray;
}
//sroller end